.CollabCard {
    margin: auto;
    background-color: red;
    display: flex;
    width: 40%;
}

.collab-photo {
    width: 30%;
}

.collab-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.service {
    background-color: yellow;
    align-self: flex-end;
}

i {
    margin-right: 0.5rem;
}